{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
  <p>Неправильно введено имя или пароль</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Ваш аккаунт не имеет доступ к этой странице, войдите в аккаунт у которого есть доступ</p>
  {% else %}
    <p>Войдите чтобы видеть эту страницу</p>
  {% endif %}
{% endif %}

<div class="d-flex justify-content-center">
    <div class="border border-primary w-25 p-3">
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
    <style>
    .login {
      padding: 20px;
      border: 2px solid #ffb6c1;
      border-collapse: collapse;
      width: 100%;
    }

    .login-table td {
      padding: 8px;
      border: 1px solid #ddd;
    }
    </style>
    <div class="login">
        <table class="login-table">

            <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
            </tr>

            <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
            </tr>
            </table>
        <input type="submit" style="background-color: #ffb6c1; border-color: #ffb6c1; color: #000;" value="Войти" />
    </div>
        <input type="hidden" name="next" value="{{ next }}" />
        </form>

    </div>
</div>

{% endblock %}